<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Eat da Burger!</h1>
            <img src="/assests/img/burger.jpg" id="burgerPic" alt="Burger" class="center" width="300" height="250">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <br>
            <h2>Burgers to be Devoured!</h2>
            <div>

                {{#each burgers}} 
                    {{#unless this.devoured}}
                
                    {{this.id}}. {{this.burger_name}}
                        <br>
                        <button type="button" class="btn btn-default" id="submit" data-id="{{id}}">Devour It!</button>
                        <br>
                    <br>
            
                {{/unless}} 
                    {{/each}}
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <br>
            <h2>Burgers that have been Devoured!</h2>
            
                {{#each burgers}} 
                    {{#if this.devoured}}
                        <div class="row">
                            {{this.id}}.
                            {{this.burger_name}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    <div class="row">
        <div class="center col-sm-12 text-center">
            <h2>Add a Burger</h2>
            <form action="/burgers" method="POST">
            <p>Enter a burger you want to eat!</p>
            <input type="text" id="name" name="burger_name" placeholder="Yummy Burger">
            <button type="submit" class="addBurger">Add Burger</button>
            </form>
            <br>
            <br>
        </div>
    </div>
</div>
  



  